/**
 * Focus
 */

$focus-width: 3px;
$color-focus: rgba($color-primary, 0.3);

// Note: this uses an outline because box-shadow and border don't support an
// offset. Outlines don't support rounding, so this can't be used for circular
// elements such as radio inputs.
%focus {
  outline-width: $focus-width;
  outline-color: $color-focus;
  outline-style: solid;
  outline-offset: 0;
  animation-name: collapse-outline;
  animation-duration: 0.2s;
}

@keyframes collapse-outline {
  from {
    outline-offset: $focus-width * 3;
  }
}

// For circular elements
%focus-rounded {
  box-shadow: inset 0 0 0 $focus-width $color-focus;
}

.enable-focus-indicators {
  :focus:not(%nofocus) {
    @extend %focus;
  }

  // Experimental
  :focus {
    z-index: 0;
  }
}

select:focus,
input[type=radio]:focus,
input[type=checkbox]:focus {
  &, .enable-focus-indicators & {
    outline: $color-focus auto;
  }
}

/**
 * Misc
 */

.bg-circle-trick {
  @extend .bg-cover;
  @extend .circle;
  @include sb-height-percentage-trick(100%);
}

.square-em {
  width: 1em;
  height: 1em;
}

.feather {
  @extend .square-em;
  @extend .flex-shrink-none;
}

%hide {
  opacity: 0;
  visibility: hidden;
}

%show {
  opacity: 1;
  visibility: visible;
}

.show-on-parent-hover {
  @extend %hide;
}

:hover > .show-on-parent-hover {
  @extend %show;
}

.show-on-parent-busy {
  @extend %hide;
}

@include busy {
  > .show-on-parent-busy {
    @extend %show;
  }
}

.show-on-trigger-hover {
  @extend %hide;
}

.trigger:hover .show-on-trigger-hover {
  @extend %show;
}

.list-item:last-child .hide-in-list-last-child {
  display: none;
}

.z-index-1 {
  z-index: 1;
}

.z-index-2 {
  z-index: 2;
}

.z-index-tooltip {
  z-index: $z-index-tooltip;
}

@mixin form-element-spacing($val) {
  margin-top: $val;

  &:first-child,
  :not(#{&}):first-child + & {
    margin-top: 0;
  }
}

.form-element-spacing {
  @include form-element-spacing(1rem);
}

.mobile-form-element-spacing {
  @include form-element-spacing(0.75rem);
}

.drawer-link {
  padding: 0.75rem 0.75rem;
  @extend .rounded;
  @extend .gaps-h-1x25;
  @extend .row-start-center;
}

.drawer-link * {
  line-height: 1;
}

.width-0 {
  width: 0;
}

.width-1x5 {
  width: 1.5rem;
}

.width-2x5 {
  width: 2.5rem;
}

.width-3x5 {
  width: 3.5rem;
}

.flex-3 {
  flex: 3;
}

.flex-5 {
  flex: 5;
}
