/**
 * Colors
 */

$color-body:             #FFFFFF;
$color-on-body:          #000000;
$color-surface:          #FFFFFF;
$color-on-surface:       #000000;

$color-primary:          #3F51B5;
$color-on-primary:       #FFFFFF;
$color-primary-light:    #C5CAE9;
$color-on-primary-light: #000000;
$color-primary-dark:     #303F9F;
$color-on-primary-dark:  #FFFFFF;

$color-accent:           #FF4081;
$color-on-accent:        #FFFFFF;

$color-error:            #B00020;

$color-snackbar:         #323232;
$color-on-snackbar:      #FFFFFF;

$color-link: $color-primary;

/**
 * Layout
 */

$page-width-min: 320px;
$page-width-mobile: 980px;

$page-breakpoint-sm: 480px;
$page-breakpoint-md: 768px;

$content-width-max: 900px;

/**
 * z-index
 */

$z-index-dialog: 1000;
$z-index-tooltip: 2000;

/**
 * Transition
 */

$transition-duration-faster: 0.07s;
$transition-duration-fast: 0.1s;
$transition-duration-medium: 0.5s;

/**
 * Misc
 */

$radius: 5px;
$navbar-height: 3.5rem;
