/**
 * Colors
 */

$color-white:         white;
$color-black:         black;

$color-deep:          hsl(0, 0%, 13%);

$color-overlay-dark:  rgba(black, 0.5);
$color-overlay-light: rgba(white, 0.66);

$color-black-25:      hsb(0, 0, 25);
$color-black-35:      hsb(0, 0, 35);
$color-black-50:      hsb(0, 0, 50);
$color-black-70:      hsb(0, 0, 70);
$color-black-75:      hsb(0, 0, 75);
$color-black-90:      hsb(0, 0, 90);
$color-black-97:      hsb(0, 0, 97);

$color-primary-100:   hsb(204, 84, 76);
$color-primary-125:   hsb(204, 84, 86);
$color-primary-250:   hsb(204, 08, 94);
$color-primary-275:   hsb(204, 04, 94);

$color-body:          white;
$color-text:          hsb(0, 0, 25);
$color-link:          hsb(204, 68, 52);

$color-warning:       hsb(14, 87, 100);
$color-success:       hsb(122, 57, 69);
$color-snackbar:      #323232;
$color-accent:        #FF5252;

/**
 * Layout
 */

$page-width-min: 320px;
$page-width-mobile: 980px;

$page-breakpoint-sm: 480px;
$page-breakpoint-md: 768px;

$content-width-max: 900px;

/**
 * z-index
 */

$z-index-dialog: 1000;
$z-index-tooltip: 2000;

/**
 * Transition
 */

$transition-duration-faster: 0.07s;
$transition-duration-fast: 0.1s;
$transition-duration-medium: 0.5s;

/**
 * Misc
 */

$radius: 4px;
$navbar-height: 3.5rem;
