.drawer-link {
  padding: 0.75rem 0.75rem;
  @extend .rounded;
  @extend .gaps-h-1x25;
  @extend .row-start-center;
}

.drawer-link * {
  line-height: 1;
}

.drawer-icon {
  color: $color-black-50;
}

@mixin theme-drawer-link {
  color: $color-black-25;
}

@mixin theme-drawer-link-busy {
  @include busy {
    background-color: $color-black-97;
  }
}

@mixin theme-drawer-link-current {
  @include if-current {
    background-color: $color-primary-250;
    color: $color-primary-100;

    .drawer-icon {
      color: $color-primary-100;
    }
  }
}

.theme-drawer-link {@include theme-drawer-link;}
.theme-drawer-link-busy {@include theme-drawer-link-busy;}
.theme-drawer-link-current {@include theme-drawer-link-current;}

.decorate-drawer-link {
  @include theme-drawer-link;
  @include theme-drawer-link-busy;
  @include theme-drawer-link-current;
}

@mixin theme-icon-button {
  color: $color-black-50;
}

@mixin theme-icon-button-busy {
  @include busy {
    color: $color-black-35;
  }
}

@mixin theme-icon-button-current {
  @include if-current {
    color: $color-black-35;
  }
}

.theme-icon-button {@include theme-icon-button;}
.theme-icon-button-busy {@include theme-icon-button-busy;}
.theme-icon-button-current {@include theme-icon-button-current;}

.decorate-icon-button {
  @include theme-icon-button;
  @include theme-icon-button-busy;
  @include theme-icon-button-current;
}

.shadow-dept-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.shadow-dept-2 {
  box-shadow: 0 2px 6px rgba(0,0,0,0.16), 0 2px 6px rgba(0,0,0,0.23);
}
.shadow-dept-3 {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.shadow-dept-4 {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.shadow-dept-5 {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

@mixin theme-snackbar {
  background-color: $color-snackbar;
  color: $color-white;
}

.theme-snackbar {
  @include theme-snackbar;
}

.snackbar {
  min-width: 18rem;
  min-height: 3rem;
  @extend .rounded;
  @extend .theme-snackbar;
  @extend .shadow-dept-2;
}
