.drawer-link {
  padding: 0.75rem 0.75rem;
  @extend .rounded;
  @extend .gaps-h-1x25;
  @extend .row-start-center;
}

.drawer-icon {
  color: $color-black-50;
}

@mixin theme-drawer-link {
  color: $color-black-25;
}

@mixin theme-drawer-link-busy {
  @include busy {
    background-color: $color-black-97;
  }
}

@mixin theme-drawer-link-current {
  @include if-current {
    background-color: $color-primary-250;
    color: $color-primary-100;

    .drawer-icon {
      color: $color-primary-100;
    }
  }
}

.theme-drawer-link {@include theme-drawer-link;}
.theme-drawer-link-busy {@include theme-drawer-link-busy;}
.theme-drawer-link-current {@include theme-drawer-link-current;}

.decorate-drawer-link {
  @include theme-drawer-link;
  @include theme-drawer-link-busy;
  @include theme-drawer-link-current;
}
