$checkbox-width: 1rem;
$checkbox-height: 1rem;
$checkbox-border-width: 1px;
$checkbox-icon-width: 1rem;

$radio-width: 1rem;
$radio-height: 1rem;
$radio-border-width: 1px;
$radio-dot-width: 0.5rem;
$radio-dot-height: 0.5rem;

$sw-color-disabled: rgba(black, 0.06);
$sw-color-border: rgba(black, 0.20);
$sw-color-primary: $color-primary;

.hidden-input {
  @extend .abs;
  right: 100vw;
  width: 0;
  height: 0;
}

.checkbox {
  flex-shrink: 0;
  @extend .relative;
  @extend .overflow-hidden;
  @extend .row-center-center;
}

.checkbox-input {
  @extend .hidden-input;
}

.checkbox-decorator {
  width: $checkbox-width;
  height: $checkbox-height;
  border: $checkbox-border-width solid $sw-color-border;
  border-radius: $radius;
  color: blue;
  @extend .row-center-center;

  label & {
    cursor: pointer;
  }

  .checkbox-input[disabled] ~ & {
    background-color: $sw-color-disabled;
  }
}

.checkbox-icon {
  width: $checkbox-icon-width;
  color: $sw-color-primary;
  visibility: hidden;
  @extend .row-center-center;

  .checkbox-input:checked ~ .checkbox-decorator & {
    visibility: visible;
  }

  .checkbox-input:checked[disabled] ~ .checkbox-decorator & {
    color: $sw-color-border;
  }
}

.radio {
  flex-shrink: 0;
  @extend .relative;
  @extend .overflow-hidden;
}

.radio-input {
  @extend .hidden-input;
}

.radio-decorator {
  @include sb-transition;
  @extend .row-center-center;
  @extend .cursor-pointer;
  @extend .circle;
  @extend .block;
  width:  $radio-width;
  height: $radio-height;
  border: $radio-border-width solid $sw-color-border;
  box-sizing: content-box;

  &::before {
    @extend .circle;
    @extend .block;
    content: '';
    width:  $radio-dot-width;
    height: $radio-dot-height;
  }

  .radio-input:checked ~ &::before {
    background-color: $sw-color-primary;
  }

  .radio-input[disabled] ~ & {
    @extend [disabled];
  }
}
