html {
  color: $color-text;
  background-color: $color-body;
}

/*
This makes SVG icons automatically compatible with foreground colors and
"interactive" styles.

NOTE: this must be defined before any color classes: .fg-, .bg-, .theme-, etc.
This way, the inherited color can be overridden with a class directly on the SVG
element. If this is defined later, inherited colors take priority over local
ones.
*/
.feather {
  color: inherit;
  stroke: currentColor;
}

.fg-white          {color: $color-white}
.bg-white          {background-color: $color-white}

.fg-black          {color: $color-black}
.bg-black          {background-color: $color-black}

.fg-pale           {color: $color-pale}
.bg-pale           {background-color: $color-pale}

.fg-faded          {color: $color-faded}
.bg-faded          {background-color: $color-faded}

.fg-pink           {color: $color-pink}
.bg-pink           {background-color: $color-pink}

.fg-blue           {color: $color-blue}
.bg-blue           {background-color: $color-blue}

.fg-black-25       {color: $color-black-25}
.bg-black-25       {background-color: $color-black-25}

.fg-black-35       {color: $color-black-35}
.bg-black-35       {background-color: $color-black-35}

.fg-black-50       {color: $color-black-50}
.bg-black-50       {background-color: $color-black-50}

.fg-black-70       {color: $color-black-70}
.bg-black-70       {background-color: $color-black-70}

.fg-black-75       {color: $color-black-75}
.bg-black-75       {background-color: $color-black-75}

.fg-black-97       {color: $color-black-97}
.bg-black-97       {background-color: $color-black-97}

.fg-primary-50     {color: $color-primary-50}
.bg-primary-50     {background-color: $color-primary-50}

.fg-primary-75     {color: $color-primary-75}
.bg-primary-75     {background-color: $color-primary-75}

.fg-primary-100    {color: $color-primary-100}
.bg-primary-100    {background-color: $color-primary-100}

.fg-primary-125    {color: $color-primary-125}
.bg-primary-125    {background-color: $color-primary-125}

.fg-primary-175    {color: $color-primary-175}
.bg-primary-175    {background-color: $color-primary-175}

.fg-primary-200    {color: $color-primary-200}
.bg-primary-200    {background-color: $color-primary-200}

.fg-primary-225    {color: $color-primary-225}
.bg-primary-225    {background-color: $color-primary-225}

.fg-primary-250    {color: $color-primary-250}
.bg-primary-250    {background-color: $color-primary-250}

.fg-primary-275    {color: $color-primary-275}
.bg-primary-275    {background-color: $color-primary-275}

.fg-link           {color: $color-link}
.bg-link           {background-color: $color-link}

.fg-link-icon      {color: $color-link-icon}
.bg-link-icon      {background-color: $color-link-icon}

.fg-warning-100    {color: $color-warning-100}
.bg-warning-100    {background-color: $color-warning-100}

.fg-danger-100     {color: $color-danger-100}
.bg-danger-100     {background-color: $color-danger-100}

.fg-success        {color: $color-success}

.bg-overlay-dark   {background-color: $color-overlay-dark}
.bg-overlay-light  {background-color: $color-overlay-light}

.edge-in-black-90-b  {box-shadow: #{sb-shadow-bottom(inset, $color-black-90)}}
.edge-in-black-90-v  {box-shadow: #{sb-shadow-bottom(inset, $color-black-90)}, #{sb-shadow-top(inset, $color-black-90)}}

.edge-in-primary-100-b-2px  {box-shadow: inset 0 -2px 0 0 $color-primary-100}

.border-pale {border: 1px solid $color-pale}

.border-white-2px {border: 2px solid $color-white}

.border-black-90 {border: 1px solid $color-black-90}

.shadow-drop-around {box-shadow: 0 1px 3px 1px rgba($color-black, 0.12)}

/**
 * Link Decoration
 */

@mixin theme-link {
  color: $color-link;
}

@mixin theme-link-current {
  @include if-current {
    color: $color-text;
  }
}

@mixin theme-link-href-busy {
  @include if-href {
    @include sb-transition($duration: $transition-duration-fast);
    @include busy {
      color: $color-link;
      text-decoration: underline;
    }
  }
}

@mixin theme-link-button-busy {
  @include if-button {
    @include sb-transition($duration: $transition-duration-fast);
    @include busy {
      color: $color-link;
      text-decoration: underline;
    }
  }
}

.theme-link {@include theme-link;}
.theme-link-current {@include theme-link-current;}
.theme-link-href-busy {@include theme-link-href-busy;}
.theme-link-button-busy {@include theme-link-button-busy;}

// This is for link colors AND other decorations, if any. Note: links should be
// either regular or bold. Flip-flopping between the two depending on link state
// would cause layout jitter.

.decorate-link {
  @include theme-link;
  @include theme-link-current;
  @include theme-link-href-busy;
  @include theme-link-button-busy;
}

.decorate-links a {
  @include noclass {
    @extend .decorate-link;
  }
}

.decorate-fancy-link {
  @extend .decorate-link;
}

.decorate-fancy-links a {
  @include noclass {
    @extend .decorate-fancy-link;
  }
}

@mixin theme-link-white {
  color: $color-white;
}

@mixin theme-link-white-current {
  @include if-current {
    color: $color-white;
  }
}

@mixin theme-link-white-href-busy {
  @include if-href {
    @include sb-transition($duration: $transition-duration-fast);
    @include busy {
      color: $color-white;
      text-decoration: underline;
    }
  }
}

.theme-link-white {@include theme-link-white;}
.theme-link-white-current {@include theme-link-white-current;}
.theme-link-white-href-busy {@include theme-link-white-href-busy;}

.decorate-white-link {
  @include theme-link-white;
  @include theme-link-white-current;
  @include theme-link-white-href-busy;
}

.decorate-white-links a {
  @include noclass {
    @extend .decorate-white-link;
  }
}

/**
 * Menu Decoration
 */

@mixin theme-light-menu {
  color: $color-link;
}

@mixin theme-light-menu-busy {
  @include busy {
    background-color: $color-black-97;
  }
}

@mixin theme-light-menu-current {
  @include if-current {
    background-color: $color-black-97;
    color: $color-text;
  }
}

.theme-light-menu {@include theme-light-menu;}
.theme-light-menu-busy {@include theme-light-menu-busy;}
.theme-light-menu-current {@include theme-light-menu-current;}

.decorate-light-menu-item {
  @include theme-light-menu;
  @include theme-light-menu-busy;
  @include theme-light-menu-current;
}

@mixin theme-dark-menu {
  color: $color-white;
}

@mixin theme-dark-menu-busy {
  @include busy {
    background-color: hsb(204, 84, 68);
  }
}

@mixin theme-dark-menu-expanded {
  @include if-expanded {
    background-color: hsb(204, 84, 56);
  }
}

@mixin theme-dark-menu-icon {
  svg {
    color: hsb(204, 69, 37);
  }
}

.theme-dark-menu {@include theme-dark-menu;}
.theme-dark-menu-busy {@include theme-dark-menu-busy;}
.theme-dark-menu-expanded {@include theme-dark-menu-expanded;}
.theme-dark-menu-icon {@include theme-dark-menu-icon;}

.decorate-dark-menu-item {
  @include theme-dark-menu;
  @include theme-dark-menu-busy;
  @include theme-dark-menu-expanded;
}

@mixin theme-body-menu {
  color: $color-link;
}

@mixin theme-body-menu-busy {
  @include busy {
    background-color: hsb(204, 6, 90);
  }
}

@mixin theme-body-menu-disabled {
  @include disabled {
    color: rgba($color-link, 0.5);
  }
}

.theme-body-menu {@include theme-body-menu;}
.theme-body-menu-busy {@include theme-body-menu-busy;}
.theme-body-menu-disabled {@include theme-body-menu-disabled;}

.decorate-body-menu-item {
  @include theme-body-menu;
  @include theme-body-menu-busy;
  @include theme-body-menu-disabled;
}

@mixin theme-tab {
  color: $color-black-35;
}

@mixin theme-tab-busy {
  @include busy {
    box-shadow: inset 0 -2px rgba($color-primary-100, 0.2);
  }
}

@mixin theme-tab-current {
  @include if-current {
    box-shadow: inset 0 -2px $color-primary-100;
    color: $color-black;
  }
}

.theme-tab {@include theme-tab;}
.theme-tab-busy {@include theme-tab-busy;}
.theme-tab-current {@include theme-tab-current;}

.decorate-tab-item {
  @include theme-tab;
  @include theme-tab-busy;
  @include theme-tab-current;
}

@mixin current-primary-edge-left {
  @include if-current {
    box-shadow: inset 2px 0 $color-primary-100;
  }
}
